@if(productsResource.isLoading()){
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
}

@if(productsResource.hasValue()){
    <h1 class="text-3xl font-bold font-montserrat">Todos los productos</h1>
    <h2 class="text-xl mb-5">Para todos los gustos</h2>

    <div class="grid grid-cols-1 md:grid-cols2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
        @for (product of productsResource.value(); track $index ){
        <product-card [product]=product />
        }
        <!-- Empty -->
        @empty {
        <p>No hay productos</p>
        }
    </div>
}
@if(productsResource.error()){
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Error! No se pudo obtener respuesta del endpoint!.</span>
    </div>
}